ul {
  display: flex;
  list-style: none; }
  ul li {
    position: relative;
    min-width: 100px;
    height: 60px;
    background: #efdada;
    margin-left: 20px;
    text-align: center;
    line-height: 60px;
    border-radius: 4px;
    cursor: pointer;
    padding: 0 20px;
    box-sizing: border-box; }
    ul li:hover::after {
      content: "";
      width: 100%;
      height: 100%;
      display: inline-block;
      position: absolute;
      left: 0;
      right: 0;
      background: #ccaaaa;
      opacity: 0.2; }

.parent {
  width: 400px;
  height: 400px;
  background: gray;
  margin: auto; }
  .parent .child {
    width: 200px;
    height: 200px;
    background: red; }

#flex {
  display: flex;
  align-items: center;
  justify-content: center; }

#absolute {
  position: relative; }
  #absolute .child {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto; }

#transform {
  position: relative; }
  #transform .child {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); }

#tablecell {
  display: table-cell;
  vertical-align: middle; }
  #tablecell .child {
    margin: auto; }
